.CTA {
    background: url("../images/bg-simplify-section-mobile.svg") $bright-red no-repeat !important ;
    @media(min-width : $breakpoint-md ) {
            background: url("../images/bg-simplify-section-desktop.svg") $bright-red center/cover no-repeat !important;

        }

        padding-block: 7rem;
        

    .title {
        color: $very-light-gray !important;
    }
}
